<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCClinicaMedica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCClinicaMedica.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light p-3 mb-2 bg-info text-dark border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <img class="portada" src="~/img/clinica.png">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-between align-items-center row justify-content-between ">
                    <div class="col-sm-4">
                        <ul class="navbar-nav flex-grow-1 fw-bold">
                            <li class="nav-item border-2 btn btn-info" href="#" role="button">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item border-2 btn btn-info" href="#" role="button">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Generar Factura</a>
                            </li>
                            <li class="nav-item border-2 btn btn-info" href="#" role="button">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Generar Cita</a>
                            </li>
                            <li class="nav-item border-2 btn btn-info" href="#" role="button">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - Doctoralia Internet SL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
