html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cef1fc;
}
.derecha {
    position: absolute;
    top: 198px; /* Ajusta la distancia desde la parte superior */
    left: 700px; /* Ajusta la distancia desde la izquierda */
    /* Otros estilos que desees aplicar */
}
.identi {
    position: absolute;
    top: 240px; /* Ajusta la distancia desde la parte superior */
    left: 700px; /* Ajusta la distancia desde la izquierda */
    /* Otros estilos que desees aplicar */
}
.cuadro {
    width: 1000px;
    height: 93px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    padding: 10px;
}


h1 {
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    color: #33475b;
}


/* Index.cshtml */

.portada {
    width: 200px;
    height: 50px;
    float: left;
}

.medio {
    width: 1050px;
    height: 500px;
    display: block;
    margin: auto;
}

/* _Layout.cshtlm */

/* >>>>>>> origin/MergeRickMelvinV1 */
