html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cef1fc;
}

h1 {
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    color: #33475b;
}


/* Index.cshtml */

.portada {
    width: 200px;
    height: 50px;
    float: left;
}

.medio {
    width: 1050px;
    height: 500px;
    display: block;
    margin: auto;
}

/* _Layout.cshtlm */

