@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="contairner">
    <h3>
        Opciones Administrador
    </h3>
    <a asp-controller="Admin" asp-action="Citas" class="btn btn-primary" width="10">Citas Medicas</a>
    <a asp-controller="Admin" asp-action="Notificaciones" class="btn btn-primary" width="10">Notificaciones</a>
    <a asp-controller="Admin" asp-action="factura" class="btn btn-primary" width="10">Factura?</a>
    <br />
    <br />
</div>