@{
<<<<<<< HEAD
    ViewData["Title"] = "No tienes los permisos necesarios para navegar por esta página";
=======
    ViewData["Title"] = "Error Page";
>>>>>>> 4b204d8af20e99b9356deca0c9801d581622d34b
}
<h1>@ViewData["Title"]</h1>

@if (ViewBag.operacion != "")
{
    <p>
<<<<<<< HEAD
        @ViewBag.operacion
=======
        Operacion @ViewBag.operacion
>>>>>>> 4b204d8af20e99b9356deca0c9801d581622d34b
    </p>
}
@if (ViewBag.msjeErrorExcepcion != "")
{
    <p>
        @ViewBag.msjeErrorExcepcion
    </p>
}
<<<<<<< HEAD
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Regresar</a>                     
                    </ul>
                </div>

                <img src="~/img/auto.png" /></>
=======
<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> 4b204d8af20e99b9356deca0c9801d581622d34b
