@model MVCClinicaMedica.Models.Paciente;
@{
    Layout = null;
    var Password = (Usuario)ViewData["contrasena"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" /> <!-- Enlace al archivo CSS externo -->
</head>
<body style="background-image: url('/img/background.jpg'); background-size: cover; background-repeat: no-repeat;">


    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">

                        <form asp-controller="Inicio" asp-action="Registrarse" method="post">
                            <input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="Nombre" />
                            <input class="form-control mb-3" type="text" placeholder="Apellido" required asp-for="Apellido" />
                            <input class="form-control mb-3" type="text" placeholder="Cedula" required asp-for="Cedula" />
                            <input class="form-control mb-3" type="email" placeholder="Correo" required asp-for="Correo" />
                            <input class="form-control mb-3" type="date" placeholder="FechaNacimiento" required asp-for="FechaNacimiento" />
                            <input class="form-control mb-3" type="text" placeholder="Edad" required asp-for="Edad" />
                            <input class="form-control mb-3" type="text" placeholder="Estado Civil" required asp-for="EstadoCivil" />
                            <input class="form-control mb-3" type="text" placeholder="Telefono" required asp-for="Telefono" />
                            <input class="form-control mb-3" type="text" placeholder="Direccion" required asp-for="Direccion" />

                            @*este campo password es para Usuarios*@
                            <input class="form-control mb-3" type="password" placeholder="Ingresa una clave" required asp-for="@Password" />


                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrate</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            <div class="text-center mt-3">
                                ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Inicio")" class=" btn btn-secondary btn-sm"> Iniciar Sesion</a>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>