@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EmailDTO>

@{
    ViewData["Title"] = "Rest Client Email";
}
<div class="contairner">
    <h1>Configuracion de Notificaciones</h1>
    <h3>
        API Rest Client Email
    </h3>
    @* <h4>No hay como validar los datos por el modelo tipo Lista.</h4> *@

    <h2>@ViewBag.StatusCode</h2>

    <!--Aqui ponemos el controlador para el CLIENTE que consume nuestra API-->
    @* <a asp-controller="ApiclienteEmail" asp-action="Get" class="btn btn-primary" width="10">Get</a> *@

    @* <a asp-controller="ApiclienteEmail" asp-action="DesactivarEnvioEmails" class="btn btn-primary">Desactivar</a> *@
    <br />
    <!--Aqui debo encontrar talvez la manera de enviar de manera repetitiva a cada correo-->
    <form method="post" asp-action="ActivarEnvioEmails">
        @* <div class="form-group">
            <label for="Para">Para:</label>
            <input class="form-control" name="Para" />
        </div> *@
        <div class="form-group">
            <label for="Asunto">Asunto:</label>
            <input class="form-control" name="Asunto" />
        </div>
        <div class="form-group">
            <label for="Contenido">Contenido:</label>
           @*  <input class="form-control" name="Contenido" /> *@
            <textarea class="form-control" name="Contenido" rows="6"></textarea>
        </div>

        <div class="text-center panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Enviar Email</button>
        </div>
    </form>

    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Asunto</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Asunto</td>
                    <td>@item.Contenido</td>
                </tr>
            }
        </tbody>
    </table>

</div>
