
@model LoginViewModel

@{
    ViewBag.Title = "Inicio de Sesión";
}

<h2>Ingrese el correo del Medico</h2>

<form action="@Url.Action("Login", "Medico")" method="post" class="mt-4">
    <div class="input-group">
        <input type="email" class="form-control" name="correo" placeholder="Ingrese el correo">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="text-danger">@Model.ErrorMessage</div>
}

@if (Model.IdMedico != null)
{
    @Html.Partial("_IndexPartial", Model.CitasMedico)
}

