@model string

@{
    ViewBag.Title = "Inicio de Sesión";
}

<h2>Inicio de Sesión</h2>

@using (Html.BeginForm("Login", "Medico", FormMethod.Post))
{
    <div>
        @Html.Label("Correo:")
        @Html.TextBox("correo", "", new { type = "email", required = "required" })
        @Html.ValidationMessage("correo", "El correo no existe.")
    </div>
    <div>
        <input type="submit" value="Iniciar Sesión" />
    </div>
}

@if (!string.IsNullOrEmpty(Model))
{
    <p>@Model</p>
}
