@model string

@{
    ViewBag.Title = "Inicio de Sesión";
    var idMedico = ViewBag.idMedico;
}

<h2>Inicio de Sesión</h2>

<form action="@Url.Action("Login", "Medico")" method="post" class="mt-4">
    <div class="input-group">
        <input type="text" class="form-control" name="correo" placeholder="Ingrese el correo">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>

@if (idMedico != null && (int)idMedico != -1)
{
    @Html.Partial("_IndexPartial")
    @*await Html.PartialAsync("_IndexPartial");*@
}


